h1 {
	color: #00FF00; 
	text-align: center; 
	font-size: 40px;
}
h2 {
	color: #424242; 
	font-size: 30px;
	text-align: center;

}
h3{
	color: #424242;
	font-size: 20px;
}
p{
	color: white;
	font-family: Arial;
	font-size: 15px;
} 
body{
	background-image: url(img/gato.jpg);
	text-align: justify-all;

}
footer{
	border: 2px;
	background-color: green;
	height: 160px;
	whidth: 160px;
	margin: auto;
	text-align: center;
}