h1 {
	text-align: center; 
	font-size: 50px;
}
h2 { 
	font-size: 30px;
	text-align: center;


}
h3 {
	
	font-size: 30px;
	text-align: center;
}
p {
	
} 
body {
	background-image: url("img/green.jpg");
	font-family: Verdana;
	font-size: 15px;
	margin: 100px;

}
div.summary {
	border: 1px solid black;
	width: 100%;
	text-align: center;
	margin: auto;
}

div.extra {
	background-color: black;
}



footer {
	
	text-align: center;
	height: 50px;
}
div.wrapper {
	border: 1px solid black;
	text-align: center;


}
li {
	display:inline-block;
}
a {
	color: green;
}

	



